body{
		background-color: #C683D7;
	}
	.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #7743DB;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}

	.contact-info h2,h4{
	color: white;
}
	
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		margin-top: 3%;
		background: #7743DB;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}

	
	.theBox {
           background-color: #7743DB;
           width: 20px;
           height: 20px;
           margin-left: 20px;
           display: inline;
           margin-right: 3px;
            }

	.backColor{
			max-width:100%;
			height: 50px;
			background-color: #D8B4F8;
			
		}